:root {
  --primary: #F9F5EB;
  --secondary: #E4DCCF;
  --accent: #EA5455;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --accent2: #002B5B;
  --Dark: #04011d; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}
/* 
.makeRow{
  display: flex;
  flex-direction: row;
} */

.exerciseC-card {
    background-color: var(--accent);
    border: 1px solid #ccc;
    border-radius: 30px;
  }
  
  .exerciseC-name {
    background-color: var(--accent);
  }
  
  .exerciseC-target,
  .exerciseC-secondaryMuscles,
  .exerciseC-equipement,
  .exerciseC-instructions {
    background-color: var(--accent2);
  }
