:root {
  --primary: #F9F5EB;
  --secondary: #E4DCCF;
  --accent: #EA5455;
  --orange: #F77F00;
  --yellow: #FCBF49;
  --accent2: #002B5B;
  --Dark: #04011d; 
  --Header: 'Josefin Slab'; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: 'Maven Pro'; /*Arial, Helvetica, sans-serif;*/
}

#header {
  background-image: radial-gradient( circle 590px at 8.2% 13.8%,  rgba(18,35,60,1) 0%, #bbb 90% );
  color: #fff; /* Text color */
  padding: 20px 0; /* Add some spacing inside the header */
  text-align: center; /* Center-align the text */
}

#headerText {
  font-size: 24px; /* Adjust the font size to your preference */
}

/* Styling for the logo or title */
#headerText h2 {
  margin: 0; /* Remove default margin */
  font-weight: bold; /* Add font weight for emphasis */
}

/* Styling for the navigation bar */
#headerText .nav-bar {
  margin-top: 10px; /* Add some spacing between the title and navigation bar */
}

/* Styling for navigation links */
#headerText .nav-bar ul {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove padding from the list */
}

#headerText .nav-bar li {
  display: inline; /* Display navigation links horizontally */
  margin-right: 10px; /* Add spacing between navigation links */
}

#headerText .nav-bar a {
  background-image: radial-gradient( circle 590px at 8.2% 13.8%,  rgba(18,35,60,1) 0%, #bbb 90% ); /* Text color for navigation links */
  text-decoration: none; /* Remove underlines from links */
  font-weight: bold; /* Add font weight for emphasis */
  font-size: 16px; /* Adjust the font size to your preference */
}

/* Styling for active navigation link (optional) */
#headerText .nav-bar a.active {
  color: #ff9900; /* Change color for active link */
}

/* Header.css */
.menu-icon:hover {
  color: black; /* Change the color to black on hover */
}
