:root {
  --primary: #f9f5eb;
  --secondary: #e4dccf;
  --accent: #ea5455;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --accent2: #002b5b;
  --Dark: #04011d;
  --Header: 'Josefin Slab', Georgia, 'Times New Roman', Times, serif;
  --text: 'Maven Pro', Arial, Helvetica, sans-serif;
}

/* Styles for mobile view */
@media screen and (max-width: 767px) {
  .bg-custom-primary {
    text-align: center;
  }

  .flex {
    flex-direction: column;
    align-items: center;
  }

  .mb-4 {
    margin-bottom: 1rem;
  }

  .mr-32 {
    margin-right: 0; /* Remove margin-right in mobile view */
  }
}