/* animations.css */
/* Slide in from the left */
.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out;
}

/* Slide in from the right */
.slide-in-right {
  animation: slideInRight 0.5s ease-in-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
