:root {
  --primary: #f9f5eb;
  --secondary: #e4dccf;
  --accent: #ea5455;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --accent2: #002b5b;
  --Dark: #04011d;
  --Header: "Josefin Slab"; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: "Maven Pro"; /*Arial, Helvetica, sans-serif;*/
}

/* CSS for the smaller hamburger icon */

.bar {
  width: 20px; /* Adjust the width to make the bars smaller */
  height: 2px; /* Adjust the height to make the bars thinner */

  margin: 2px 0; /* Adjust the margin to control the spacing */
  transition: 0.4s;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-4px, 4px);
}

.active .bar:nth-child(2) {
  opacity: 0;
}

.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-4px, -4px);
}
