:root {
  --primary: #f9f5eb;
  --secondary: #e4dccf;
  --accent: #ea5455;
  --orange: #f77f00;
  --yellow: #fcbf49;
  --accent2: #002b5b;
  --Dark: #04011d;
  --Header: "Josefin Slab"; /*Georgia, 'Times New Roman', Times, serif;*/
  --text: "Maven Pro"; /*Arial, Helvetica, sans-serif;*/
}

